@use 'typography' as *;
@use 'variables' as *; 
@use 'mixins' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir Next LT Pro', sans-serif;
  }

img {
    width: 100%;
    display: block;
}

ul, li {
    list-style-type: none;
}


.wrapper--header {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    @include tablet {
        flex-direction: row;


    }


}

// fix nav - uneven 
.header__nav {
    width: 100%;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;


}

.header__item {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}


.header__link{
    text-decoration: none;
    color: $white;
    
}

.header__link--active {
    border-bottom: $white solid 0.25rem;
    font-weight: 600;
}

// .header__link--inactive {
//     color: $mercury;
//     font-weight: 600;
// }

// .header__link--inactive:hover {
//     color: $mercury;
//     border-bottom: $white solid 0.25rem;
// } 


.header__logo {
    padding-top: 1.5rem;
    max-width: 7.5rem;
    @include tablet {
        padding-top: 0;
    }
}

.wrapper--hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

.hero__title {
    font-size: 1.5rem;
    padding: 5rem 1rem;
    text-align: left;
    color: $white;
    font-weight: 600;

    @include tablet {
        font-size: 3.75rem;
        padding: 13rem 2.25rem; // will adjust top/bottom
    }

    @include desktop {
        
    }
}



// use order 
.wrapper--footer {
    background-color: $bandsite-black;
    color: $white;
    padding: 1rem; 
    font-size: .8125rem; // need to double check this

    @include tablet {
        padding: 2.25rem;
    }
}


.footer__social {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    width: 38%;

}

.footer__social-icon {
    height: 1.5rem;
    width: auto;
}

// not working 
.footer__social-icon:hover {
    fill: $mercury;
}

.footer__title {
    font-weight: 600;
    padding-top: 1rem; 

    @include tablet {
        font-size: 2.25rem;
        font-weight: 700; // looks bolder - need to fix 
    }

}

.footer__contact {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contact__agent {
    padding: 1rem 0 1rem 0;
}

.contact__name {
    font-weight: 600;
    padding-bottom: 1rem;
}

.contact__info {
    padding-bottom: 1rem; 
    line-height: 1.125rem; //want to fix this 
}

.contact__email {
    text-decoration: none;
    color: $white;
    padding-top: 1rem;
}

.footer__logo { 
    padding: 24px 0 1rem 0;
    max-width: 7.5rem;
    @include tablet {
        display: hidden;
    }
}


.footer__copyright {
    font-size: .6563rem;
    padding-bottom: 0.5rem;

    @include tablet {
        font-size: .875rem;
    }
}