$tablet-breakpoint: 768px;
$desktop-breakpoint: 1080px;

// Primary Colors
$bandsite-black: #323232; // Primary text color for dark on light background. Dark background color
$silver: #AFAFAF; // Secondary text color. Inactive CTA text color
$white: #FFFFFF; // Primary text color for light on dark background. Light background color. Active CTA text color.

// Secondary Colors 
$bandsite-darkblack: #000000; // CTA hover state.
$mercury: #E1E1E1; // Divider line. Form field outline.
$alabaster: #FAFAFA; // Alternative light background color

