@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

.wrapper--about {
    background-color: $white;
    
}

.about {
    padding: 1rem 1rem 0.5rem 1rem;
    @include tablet {
        padding: 2.25rem;
    }

    @include desktop { // fix top padding 
        padding: 2rem 8rem;
        max-width: 80rem;
        margin: 0 auto;
    }
}

.about__title {
    padding: 1rem 0 0.5rem 0;
    font-weight: 600;

    @include tablet {
        font-size: 2.25rem;
        padding: 2rem 0;
        
    }
}


.about__content {
    @include tablet {
        padding: 0 3.5rem;
    }

    @include desktop {
        padding: 0 6rem;
    }
}

.about__img {
    width: 100%;
    height: 10rem; 
    object-fit: cover;
    object-position: bottom;
    padding: 0;

    @include tablet {
        height: 20rem; // want to scale image
        object-position: bottom;
    }

}

.about__quote {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.375rem;
    padding: 0.5rem 0;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 2.25rem;
    }

    @include desktop {
        width: 70%;
    }
}

.about__quote-author {
    font-weight: 600;
    padding-top: 0.5rem;

    @include tablet {
        font-size: 1rem;

    }
    
}


.about__bio-header {
    font-size: .875rem;
    line-height: 22px;
    font-weight: 600;
    padding: 0.5rem 0;

    @include tablet {
        font-size: 1.5rem;
        padding-top: 2rem;
    }
}


.about__bio-text {

    @include tablet {
        display: flex;
        justify-content: space-between;


    }

}

.about__bio-paragraph {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding: 0.5rem 0;
    

    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
        padding-top: 1rem;
        padding-bottom: 0;
        width: 47%;
    }
}

.wrapper--gallery {
    
    background-color: $alabaster;

}

.gallery {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 1rem 0.5rem 1rem;
    @include tablet {
        padding: 0 2.25rem 1.75rem 2.25rem;
    }
    @include desktop {
        padding: 0 8rem 1.75rem 8rem;
        max-width: 80rem;
        margin: 0 auto;
    }
}


.gallery__title {
    padding: 0.5rem 0;
    font-weight: 600;
    @include tablet {
        padding: 3rem 0 1.5rem 0;
        font-size: 2.25rem;
    }
}

.gallery__img-list {

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }
}

.gallery__img {
    padding: 0.5rem 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    border: none;

    @include tablet {
        width: 33%; 
        padding: 0.5rem;

        .gallery__img:nth-child(3n+1) {
            padding-left: 0;
        }
        .gallery__img:nth-child(3n) {
            padding-right: 0;
        }
        .gallery__img:nth-child(-n+3) {
            padding-top: 0;
        }
        .gallery__img:nth-last-child(-n+3) {
            padding-bottom: 0;
        }
        
    
    }

    @include desktop { // idk if this is necessary
        width: 33%; 
        padding: 0.5rem;

        .gallery__img:nth-child(3n+1) {
            padding-left: 0;
        }
        .gallery__img:nth-child(3n) {
            padding-right: 0;
        }
        .gallery__img:nth-child(-n+3) {
            padding-top: 0;
        }
        .gallery__img:nth-last-child(-n+3) {
            padding-bottom: 0;
        }
    }
}

