@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

// about
.about {
    background-color: $color-white;
    color: $color-bandsite-black;

    &-wrapper {
        padding: 1rem;
        @include tablet {
            padding: 2rem;
        }
    
        @include desktop {
            @include spacing(0 auto, 2rem 8rem);
            max-width: $desktop-breakpoint;
        }
    }
  
    &__header {
      padding: 0.5rem 0;
      font-weight: $weight-demi;
  
      @include tablet {
        font-size: 2.25rem;
        padding: 1rem 0;
      }
  
      @include desktop {
        padding-bottom: 1.5rem;
      }
    }
  
    &__content {
      padding: 0.5rem 0;
  
      @include tablet {
        padding: 1.25rem 3.5rem 0;
      }
  
      @include desktop {
        padding: 1.25rem 6rem 0;
      }
    }
  
    &__img-wrapper {
      overflow: hidden;
    }
  
    &__img {
      margin-top: -2rem;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
  
      @include tablet {
        margin-top: -6rem;
        object-position: top;
      }
  
      @include desktop {
        margin-top: -4rem;
      }
    }
  
    &__quote {
      padding: 0.5rem 0;
  
      @include tablet {
        padding-top: 2.25rem;
      }
  
      @include desktop {
        width: 80%;
      }
  
      &-text {
        @include font-style(0.875rem, $weight-demi, 1.375rem);
  
        @include tablet {
          @include font-style(1.5rem, $weight-demi, 2rem);
        }
      }
  
      &-author {
        font-weight: $weight-demi;
        padding-top: 0.5rem;
        font-size: .875rem;
  
        @include tablet {
          font-size: 1rem;
          padding-bottom: 0.5rem;
        }
      }
    }
  
    &__bio-header {
      @include font-style(0.875rem, $weight-demi, 1.375rem);
      padding: 0.5rem 0;
  
      @include tablet {
        @include font-style(1.5rem, $weight-demi);
        padding-top: 2.25rem;
      }
    }
  
    &__bio-text-wrapper {
      @include tablet {
        @include grid-layout(2, 1.5rem);
      }
    }
  
    &__bio-text {
      @include font-style(0.8125rem, $weight-normal, 1.125rem);
      padding: 0.5rem 0;
  
      @include tablet {
        display: inline-grid;
        @include font-style(0.875rem, $weight-normal, 1.375rem);
        padding-top: 1rem;
        padding-bottom: 0;
      }
    }
  }


// gallery
.gallery {
  background-color: $color-alabaster;
  color: $color-bandsite-black;

  &-wrapper {
    @include flex-layout(column, space-evenly);
    padding: 1rem 1rem 0.5rem 1rem;
  
    @include tablet {
      padding: 0 2.25rem 1.75rem;
    }
  
    @include desktop {
        @include spacing(0 auto, 0 8rem 2.25rem 8rem);
        max-width: $desktop-breakpoint;
    }
  }

  &__title {
    padding: 0.5rem 0;
    font-weight: $weight-demi;

    @include tablet {
      padding: 3rem 0 1.5rem;
      font-size: 2.25rem;
    }
  }

  &__img-list {
    @include tablet {
      @include grid-layout(3, 1.5rem);
    }
  }

  &__img {
    display: inline-grid;
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    @include gray-transition (100%);
    transition: all 0.9s ease;

    &:hover {
        @include gray-transition (0%);
    }

    @include tablet {
      padding: 0;
    }
  }
}



// comments 

.comments {
    background-color: $color-white;
    color: $color-bandsite-black;

    &-wrapper {
        padding: 1rem;
        @include tablet {
            padding: 2rem;
        }
    
        @include desktop {
            @include spacing(0 auto, 2rem 8rem);
            max-width: $desktop-breakpoint;
        }
    }
  
    &__content-wrapper  {
        padding: 1rem 0 0.5rem;
    
        @include tablet {
          padding: 1.25rem 3.5rem 0;
        }
    
        @include desktop {
          padding: 1.25rem 260px 0;  
        
        }
      }
  
    &__title {
      padding: 0.5rem 0;
      font-weight: $weight-demi;
  
      @include tablet {
        padding: 3rem 0 1.5rem;
        font-size: 2.25rem;
      }
    }
}


.comments__add-comment-wrapper {
    border-bottom: 2px solid $color-mercury;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.comments__item {
    display: flex;
    justify-content: space-between;
    font-size: 0.8125rem;
    border-bottom: 2px $color-mercury solid;
    padding: 1rem 0 0.5rem;
    gap: 1rem;
    flex-grow: 0;

    @include tablet {
        font-size: .875rem;
    }
    
}

.comments__form-wrapper { 
    padding: 0.5rem 0;
    

    @include tablet {
        padding: 1.25rem 3.5rem 0;
    }

    @include desktop {
        padding: 1.25rem 6rem 0;
    }

}


.comments__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50% 50%;
    background-color: $color-mercury;
    object-fit: cover;
    object-position: 10%;
    margin-top: 1rem;
    flex-shrink: 0;

    @include tablet {
        width: 3rem;
        height: 3rem;
    }

    &--grey {
        margin-top: 0;
    }

}

.comments__avatar--grey { // image is squished 
    width: 2.25rem; 
    height: 2.25rem;
    border-radius: 50% 50%;
    background-color: $color-mercury;
    flex-shrink: 0;
    
  

    @include tablet {
        width: 3rem;
        height: 3rem;
    }


}

.form { // need class name 
    display: flex;
    flex-direction: column;
    width: 100%; 
    

}

.form__label {
    color: $color-silver;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .625rem;
    margin: 2px 0;
    

}

.form__input-name, .form__input-comment {
    height: 2.25rem;
    width: 100%;
    border-radius: 4px;
    border: 1px $color-mercury solid;
    background-color: $color-alabaster;
    margin: 2px 0 0.5rem;
    padding: .75rem;
    color: $color-bandsite-black; 

    @include tablet {
        height: 3rem;
        padding: 1rem;
    }
   
}

.form__input-comment {
    height: 5rem;
    resize: none;
    @include tablet {
        margin-bottom: 1rem;
    }
}

.form__input-name::placeholder,
.form__input-comment::placeholder {
    color: $color-bandsite-black;
    
} // not working 

.form__input-name:focus, .form__input-comment:focus {
        border-color: $color-bandsite-black;
        background-color: $color-white;
        border-color: $color-bandsite-black;
        outline: none;
}

.form__btn {
    height: 2.5rem;
    border-radius: .25rem;
    width: 100%; 
    border: none;
    text-transform: uppercase;
    background-color: $color-bandsite-black;
    color: $color-white;
    font-weight: $weight-demi;
    margin: 0.5rem 0 1rem;
    
    font-size: 1rem;
    padding: 0 2rem; 

    @include tablet {
        width: 9.375rem;
        margin-left: auto;
        margin-bottom: 1.5rem;

    }
}

.form__btn:hover {
    background-color: $color-bandsite-darkblack;
}

.comments__item-info {
    display: flex;
    justify-content: space-between;
}

.comments__item-details {
    width: 100%;
    
}

.comments__item-name {
    font-weight: 600;
}

.comments__item-date {
    color: $color-silver; 
}

.comments__item-text {
    padding: 0.5rem 0;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
}