@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next LT Pro", sans-serif;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  display: block;
}

.header {
  background-color: #323232;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header-wrapper {
    flex-direction: row;
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-wrapper {
    padding: 0 8rem;
    max-width: 1280px;
    margin: 0 auto;
  }
}
.header__logo {
  padding-top: 1rem;
  max-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}
.header__nav {
  width: 100%;
}
.header__nav-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    width: 20rem;
    padding: 0 5rem;
  }
}
.header__item {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__item {
    width: auto;
  }
}
.header__link {
  font-size: 0.875rem;
  display: block;
  padding: 0.5rem 0;
  color: #E1E1E1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .header__link {
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    padding: 2rem 0;
  }
}
.header__link--active {
  color: #FFFFFF;
  border-bottom: #FFFFFF solid 0.25rem;
  font-weight: 600;
}
.header__link:hover {
  border-bottom: #FFFFFF solid 0.25rem;
  color: #FFFFFF;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.hero__title {
  font-size: 1.5rem;
  padding: 5.1875rem 1rem;
  text-align: left;
  color: #FFFFFF;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    padding: 12rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 3.75rem;
    padding: 17rem 8rem;
  }
}

.footer {
  background-color: #323232;
}
.footer-wrapper {
  color: #FFFFFF;
  padding: 1rem;
  font-size: 0.8125rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    padding: 2.25rem;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-wrapper {
    padding: 2.25rem 8rem;
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__top {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__top-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2.125rem;
    align-items: baseline;
  }
}
.footer__header {
  font-weight: 600;
  padding-top: 1rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
  }
}
.footer__social {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__social {
    padding-bottom: 0;
  }
}
.footer__social-icon {
  height: 1.5rem;
  width: auto;
  transition: fill 0.3s, opacity 0.3s;
}
.footer__social-icon:hover {
  opacity: 0.3;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer__contact .contact__item {
  padding: 0.5rem 0;
}
.footer__contact .contact__name {
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer__contact .contact__info {
  padding-bottom: 0.5rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__contact .contact__info {
    padding: 1rem 0;
  }
}
.footer__contact .contact__email {
  color: #FFFFFF;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer__contact .contact__email {
    padding-bottom: 1.5rem;
  }
}
.footer__logo--mobile {
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet-desktop {
    display: contents;
  }
}
.footer__logo-img {
  padding: 1.5rem 0 1rem;
  max-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-img {
    padding: 0;
  }
}
.footer__copyright {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding: 1rem 0;
  }
}

.about {
  background-color: #FFFFFF;
}
.about-wrapper {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .about-wrapper {
    padding: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-wrapper {
    padding: 2rem 8rem;
    max-width: 1280px;
    margin: 0 auto;
  }
}
.about__header {
  padding: 0.5rem 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__header {
    font-size: 2.25rem;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    padding-bottom: 1.5rem;
  }
}
.about__content {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__content {
    padding: 1.25rem 3.5rem 0 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__content {
    padding: 1.25rem 6rem 0 6rem;
  }
}
.about__img-wrapper {
  overflow: hidden;
}
.about__img {
  margin-top: -2rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-top: -6rem;
    -o-object-position: top;
       object-position: top;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    margin-top: -4rem;
  }
}
.about__quote {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__quote {
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    width: 80%;
  }
}
.about__quote-text {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .about__quote-text {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
.about__quote-author {
  font-weight: 600;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
}
.about__bio-header {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__bio-header {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .about__bio-text-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
.about__bio-text {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__bio-text {
    display: inline-grid;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery-wrapper {
    padding: 0 2.25rem 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-wrapper {
    padding: 0 8rem 2.25rem 8rem;
    max-width: 1280px;
    margin: 0 auto;
  }
}
.gallery__title {
  padding: 0.5rem 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 3rem 0 1.5rem;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__img-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
.gallery__img {
  display: inline-grid;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.9s ease;
}
.gallery__img:hover {
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
@media screen and (min-width: 768px) {
  .gallery__img {
    padding: 0;
  }
}/*# sourceMappingURL=bio.css.map */