@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

// hero
.hero__title-wrapper {
    display: flex;
    flex-direction: column;
    color: $color-white;
}

.hero__title {
    padding: 1rem 0;
    width: 80%;

    @include tablet {
        padding: 0.5rem 0;
        width: 35rem;
    }
    @include desktop {
        width: 100%;
    }

}


.hero__subtitle {
    color: $color-white;
    font-weight: $weight-normal;
    font-size: .875rem;
    padding: 0.5rem 0;

    @include tablet {
        font-weight: $weight-demi;
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}

.hero-wrapper--shows { // control height of hero image 
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
    
        padding: 2.25rem;
        

    }
    @include desktop {
        padding: 16rem 8rem;
        flex-direction: row;
        gap: 8rem;
        align-items: center;
        
    }
}

.hero__music {
    width: 100%; // change to set width 
    height: 9.375rem;
    padding: 1rem 0;

    @include tablet {
        width: 25.625rem; // change width to set width 
        height: 9.375rem;
    }
    @include desktop {
        width: 80%;
        height: 9.375rem; // need to adjust placement 

    }
}



// shows 
.shows {
    background-color: $color-alabaster;
  
    &-wrapper {
      @include flex-layout(column, space-evenly);
      padding: 1rem 0;
    
      @include tablet {
        padding: 0.5rem 1.125rem 2.25rem;
      }
    
      @include desktop {
          @include spacing(0 auto, 0 8rem);
          max-width: $desktop-breakpoint;
            flex-direction: row; 
            justify-content: space-between;
      }
    }
  
    &__title {
      padding: 1rem;
      font-weight: $weight-demi;
  
      @include tablet {
        padding: 3rem 1.125rem 1.5rem;
        font-size: 2.25rem;
      }
    }
}






.shows__subtitle {
    text-align: left;
    color: $color-silver;
    text-transform: uppercase;
    
    font-size: 1rem; // need to change font size to make smaller

    display: none;

    p { // change to class 
        font-weight: $weight-demi;
        width: 61%;
    }

    @include tablet {
        padding: 1.5rem 1rem 0.5rem ;
        display: contents;
        display: flex;
        justify-content: space-between;
   
    }
}

.shows__btn {
    height: 2.5rem;
    border-radius: .25rem;
    width: 100%; 
    border: none;
    text-transform: uppercase;
    background-color: $color-bandsite-black;
    color: $color-white;
    font-weight: $weight-demi;
    
    font-size: 1rem;
    padding: 0 2rem; 

    @include tablet {
        min-width: 9.375rem; 
    
        
        
    }

   
}



.shows__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;

    padding: 1rem;
    border-bottom: solid .125rem $color-mercury;
  

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        
    }

    
}

.shows__element {
    padding-bottom: 0.5rem;

    @include tablet {
        padding: 0;
        width: 100%;
    }
}
.shows__label--mobile {
    display: contents;
    color: $color-silver;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .625rem;
    @include tablet {
        display: none;
    }
}

.shows__detail {
    font-size: .8125rem;
    padding: 0.25rem 0;
    
    @include tablet {
        font-size: .875rem;
    }

    &--date {
        font-weight: 600;
    }

    @include desktop {
        font-size: 1rem;
    }
}

.shows__btn-wrapper {
    padding-top: 0.5rem;
    @include tablet {
        padding: 0;
        min-width: 25%;
    }

    @include desktop {

        width: 150px;
    }
}

.shows__list-wrapper {
    @include desktop {
        padding: 3rem 0;
        width: 80%;
    }
}