@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

.hero {
  &--shows {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  }

  &-wrapper {
    &--shows {
      padding: 2rem 1rem;
      @include flex-layout(column, space-between);

      @include tablet {
        padding: 2.25rem;
      }
      @include desktop {
        padding: 16rem 8rem;
        flex-direction: row;
        gap: 7.875rem;
        align-items: flex-end;
      }
    }
  }

  &__title {
    &--shows {
      padding: 1rem 0;
      width: 80%;

      @include tablet {
        padding: 0.5rem 0;
        width: 35rem;
      }
      @include desktop {
        width: 100%;
      }
    }
  }

  &__subtitle {
    color: $color-white;
    font-weight: $weight-normal;
    font-size: 0.875rem;
    padding: 0.5rem 0;

    @include tablet {
      font-weight: $weight-demi;
      font-size: 1.5rem;
      padding: 1rem 0;
    }
  }

  &__music {
    width: 100%;
    height: 8.125rem;
    padding: 0.5rem 0;

    @include tablet {
      padding: 2.25rem 0;
      width: 25.25rem;
      height: 11.6875rem;
    }
    @include desktop {
      width: 85%;
    }
  } 
}

.shows {
  background-color: $color-white;
  color: $color-bandsite-black;

  &-wrapper {
    @include flex-layout(column, space-evenly);
    padding: 1rem 0;

    @include tablet {
      padding: 0.5rem 1.125rem 2.25rem;
    }

    @include desktop {
      @include spacing(0 auto, 0 8rem);
      max-width: $desktop-breakpoint;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    padding: 1rem;
    font-weight: $weight-demi;
    color: $color-bandsite-black;

    @include tablet {
      padding: 3rem 1.125rem 1.5rem;
      font-size: 2.25rem;
    }
  }

  &__list-wrapper {
    @include desktop {
      padding: 3rem 0;
      width: 80%;
    }
  }

  &__subtitle-wrapper {
    display: none;
    font-weight: $weight-demi;

    @include tablet {
      padding: 1.5rem 1rem 0.5rem;
      display: flex;
      justify-content: space-between;
    }
  }

  &__subtitle {
    text-align: left;
    color: $color-silver;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: $weight-demi;
    flex: 1;
  }

  &__btn {
    height: 2.5rem;
    border-radius: 0.25rem;
    width: 100%;
    border: none;
    text-transform: uppercase;
    background-color: $color-bandsite-black;
    color: $color-white;
    font-weight: $weight-demi;
    font-size: 1rem;
    padding: 0 2rem;

    @include tablet {
      min-width: auto;
    }

    @include desktop {
      width: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    padding: 1rem;
    border-bottom: $bandsite-border;

    &:hover {
      background-color: $color-alabaster;
    }

    &--selected {
      background-color: $color-mercury;
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
  }

  &__item-detail {
    padding-bottom: 0.5rem;

    @include tablet {
      padding: 0;
      width: 100%;
    }
  }

  &__label--mobile {
    display: contents;
    color: $color-silver;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.625rem;

    @include tablet {
      display: none;
    }
  }

  &__item-text {
    font-size: 0.8125rem;
    padding: 0.25rem 0;

    @include tablet {
      font-size: 0.875rem;
    }

    &--date {
      font-weight: 600;
    }

    @include desktop {
      font-size: 1rem;
    }
  }

  &__btn-wrapper {
    padding-top: 0.5rem;

    @include tablet {
      padding: 0;
      min-width: 25%;
    }

    @include desktop {
      width: 9.375rem;
      text-align: right;
    }
  }
}

